<!DOCTYPE html>

<html>

<head>
    {{!--  Nombre de la Pestaña--}}
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Este sitio fue creado con fines educativos.</p>
        <p>Utiliza apis gratuitas de geolocalización y de pronóstico del tiempo.</p>
        <p>Para la geolocalización se usa una cuenta en https://radar.com/</p>
        <p>- en este caso se utiliza geocodificación directa para convertir direcciones en coordenadas. </p>
        <p>Para el pronóstico      se usa una cuenta en https://weatherstack.com/</p>
        <p>- en este caso solo se obtiene la información meteorológica en tiempo real para las ubicaciones especificadas en formato de coordenadas.</p>
        <img class="portrait" src="/img/suricata_001.JPG" alt="Suricat" srcset="">
        {{!--
        <p>Created by {{name}}</p>
         --}} 
    </div>
    {{>footer}}
</body>

</html>