<!DOCTYPE html>

<html>

<head>
    {{!--  Nombre de la Pestaña--}}
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{!-- si tipeo div.main-content y luego presiono tab, me crea la misma estructura  --}} 
    <div class="main-content">
        {{>header}}
    {{!--     <p>Created by {{name}}</p>
        <p>{{msg}}</p>
     --}}     

    </div>

    <div class="main-content"></div>
    {{>footer}}
</body>

</html>